@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


html {overflow-y:scroll; font-family: 'NanumSquare', sans-serif;}
body {margin:0;padding:0;font-size:16px;background:#fff;font-family: 'NanumSquare', sans-serif;}

html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0;font-family: 'NanumSquare', sans-serif;}

p {margin:0;padding:0;word-break:break-all}
a {color:#000;text-decoration:none; cursor: pointer; display:block;}

a img{width:300px; height:60px; margin-top:20px;}

div{margin:50px auto; width:300px; text-align:center;}