@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html {overflow-y:scroll; font-family: 'NanumSquare', sans-serif;}
body {margin:0;padding:0;font-size:16px;background:#fff;font-family: 'NanumSquare', sans-serif;}

html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0;font-family: 'NanumSquare', sans-serif;}
h1, h2, h3, h4, h5, h6 {font-size:16px;font-family: 'NanumSquare', sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;font-family: 'NanumSquare', sans-serif;}

ul, dl,dt,dd {margin:0;padding:0;list-style:none;font-family: 'NanumSquare', sans-serif;}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden;font-family: 'NanumSquare', sans-serif;}
label, input, button, select, img {vertical-align:middle;font-size:1em}
input, button {margin:0;padding:0;font-family: 'NanumSquare', sans-serif;font-size:1em}
input[type="submit"] {cursor:pointer}
button {cursor:pointer}

textarea, select {font-family: 'NanumSquare', sans-serif;font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;}
a {color:#000;text-decoration:none; cursor: pointer}

/*font-family: 'Noto Sans KR';*/

.wrp{position: relative; width: 100%; float: left}
.wrpDiv{position: relative; max-width: 1280px; margin: 0 auto}

.header_top{height: 90px;}
.header_top .hd_logo{position: absolute; top: 30px; left: 50%; transform: translateX(-50%);}
.header_top .hd_login{position: relative; float: right; top: 40px;}
.header_top .hd_login a{float: left; font-size: 14px;}
.header_top .hd_login p{float: left; font-size: 12px; margin: 0 10px;}

.header_btm{border-top: 1px solid #EEEEEE;}
.header_btm .hdBtmDiv{height: 80px;}
.header_btm .hdBtmDiv .cgMenu{position: absolute; left: 0; top: 30px;}
.header_btm .hdBtmDiv .cgMenu img{margin-right: 10px; vertical-align: baseline;}
.header_btm .hdBtmDiv .topMenu{max-width: 820px; height: 100%; margin: 0 auto;}
.header_btm .hdBtmDiv .topMenu ul{width: 100%;}
.header_btm .hdBtmDiv .topMenu ul li{width: calc(100%/5); float: left; text-align: center; line-height: 78px;}
.header_btm .hdBtmDiv .topMenu ul li a{font-size: 18px; text-align: center}

.mainSlide{height: 600px}
.mainSlide .mainSlideImg{width: 100%; height: 100%; background-image: url(../img/main/main01.png); background-size: cover; background-repeat: no-repeat; background-position: center; }
.mainSlide .wrpDiv{position: relative; top: 180px}
.mainSlide .conTopTxt{font-size: 40px;}
.mainSlide .conTopTxt span{font-size: 40px;}
.mainSlide .conBtmTxt{font-size: 18px;}
.mainSlide .veiwMore{position: relative; display: block; width: 185px; margin-top: 60px; border: 1px solid #111; padding: 14px 20px; border-radius: 25px;}
.mainSlide .veiwMore img{position: absolute; top: 15px; right: 22px;}

.mainCon01{margin-top: 173px}
.mainCon01>p:first-child{font-size: 30px; font-weight: bold; text-align: center;}
.mainCon01>p:last-child{font-size: 14px; line-height: 20px; text-align: center; margin-top: 5px}

.mainCon02{width:100% !important; margin:60px 0;}
.mainCon02 .con02left{position: relative;width: 640px; height: 426px; margin-right: 40px; border-radius: 20px; float: left; background-size: cover; background-repeat: no-repeat; background-position: center}

/* 슬라이드 */
.swiper-container{overflow: visible !important;}
.swiper-container .swiper-slide{width:1280px;}
.swiper-container .swiper-slide-next, .swiper-slide-prev{transform: translate3d(0px, 0px, -100px) rotateX(0deg) rotateY(0deg) scale(0.8) !important;}
.swiper-container .swiper-slide-active{transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1) !important;}
.swiper-container .slidePage{margin-top: 20px; display: inline-block; width: 60px;}
.swiper-container .slidePageBtn{margin-top: 15px; display: inline-block;}
.swiper-container .slidePageBtn button{width: 26px; height: 26px; background-color: #ffffff; border: 1px solid #999999; cursor: pointer; text-align: center; padding: 4px;}
.swiper-container .slidePageBtn button:focus{outline: none;}

.mainCon02 .con02right{width: 600px; float: left; margin-top: 30px;}
.mainCon02 .con02right .profile{width: 100%;}
.mainCon02 .con02right .profile div{width: 40px; height: 40px; border-radius: 20px; background-size: cover; background-repeat: no-repeat; background-position: center;; float: left; margin-right: 10px}
.mainCon02 .con02right .profile .profileTxt{font-size: 14px; color: #BBBBBB}
.mainCon02 .con02right .profile .profileTxt span{font-size: 15px; font-weight: bold; color: #111111}
.mainCon02 .con02right .rightTit{display: block; font-size: 24px; font-weight: bold; margin-top: 18px;}
.mainCon02 .con02right .rightCon{display: block; font-size: 16px; color: #444444; margin-top: 8px;}
.mainCon02 .con02right .rightLike{width: 100%; margin-top: 19px;}
.mainCon02 .con02right .rightLike a{float: left; font-size: 14px; color: #BBBBBB; margin-right: 20px}
.mainCon02 .con02right .rightLike a img{float: left; margin-right: 4px;}
.mainCon02 .con02right .rightLike>a:nth-child(1) img{position: relative; top: -1px;}
.mainCon02 .con02right .rightLike>a:nth-child(2) img{position: relative; top: -2px;}
.mainCon02 .con02right .rightLike>a:nth-child(3) img{position: relative; top: -2px;}
.mainCon02 .con02right .rightInput{width: 524px; background-color: #EEEEEE; border: none; border-radius: 0 27px 27px 27px; font-size: 14px; color: #111; padding: 14px 36px; margin-top: 15px;}
.mainCon02 .con02right .rightInput::placeholder{font-size: 14px; color: #999999}
.mainCon02 .con02right .pickTit{font-size: 16px; margin-top: 28px;}
.mainCon02 .con02right .pickTit span{font-size: 16px; font-weight: bold; color: #FF4723;}
.mainCon02 .con02right .pickItem{position: relative; width: 550px; border: 1px solid #F1F1F1; border-radius: 20px; padding: 12px 24px; margin-top: 9px; float: left}
.mainCon02 .con02right .pickItem .pickImg{width: 96px; height: 96px; background-size: cover; background-repeat: no-repeat; background-position: center; float: left; margin-right: 14px;}
.mainCon02 .con02right .pickItemCon{width: 100%; float: left}
.mainCon02 .con02right .pickItemCon p{position: relative; top: 10px; line-height: 35px; font-size: 14px; color: #999999; float: left;}
.mainCon02 .con02right .pickItemCon p span{font-size: 16px; color: #111111; font-weight: bold;}
.mainCon02 .con02right .pickItem .pickShop{position: absolute; top: 40px; right: 25px;}

.conTopSm{font-size: 14px; font-weight: bold;}
.conTopTxt{font-size: 28px;margin-bottom: 10px}
.conTopTxt span{font-size: 28px; font-weight: bold; line-height: 41px;}
.conBtmTxt{font-size: 14px; line-height: 20px}


.conTitle{width: 100%; float: left; margin-bottom: 40px}
.conTitle>a:first-child{float: left; font-size: 30px; font-weight: bold;}
.conTitle>a:first-child span{color: #FF4723;}
.conTitle>a:last-child{position: relative; top: 20px; float: right; font-size: 14px; color: #888888}

.mainCon03{margin-top: 150px}
.mainCon03 .mainCon03slide{width: 100%;}
.mainCon03 .mainCon03slide .mainCon03item{position: relative; width: calc((100% - 120px) / 4); float: left; margin-right: 40px}
.mainCon03 .mainCon03slide>.mainCon03item:nth-child(4n){margin-right: 0}
.mainCon03 .mainCon03slide .mainCon03img{width: 100%; height: 290px; background-color: #eee; margin-bottom: 16px; background-size: cover; background-repeat: no-repeat; background-position: center; border: 1px solid #EEEEEE}
.mainCon03 .mainCon03slide .pickShop{position: absolute; right: 0; bottom: 10px}

.itemTag{font-size: 14px; font-weight: bold; color: #888888;}
.itemName{display: block; font-size: 16px; color: #3B3B3B;}
.itemPrice{display: block; font-family: 'Noto Snas', sans-serif; font-size: 16px; font-weight: bold; margin-top: 8px;}
.itemSale{ font-family: 'Noto Snas', sans-serif; font-size: 16px; font-weight: bold; color: #FF447F; float: left; margin-right: 5px;}
.itemBfPrice{ font-family: 'Noto Snas', sans-serif; font-size: 15px; color: #9A9A9E; text-decoration: line-through; margin-left: 8px;}

.mainCon04{margin-top: 150px; padding: 30px 0;}
.mainCon04 .leftDiv{ width: calc(100% - 640px); float: left;}
.mainCon04 .veiwMore{position: relative; display: block; width: 155px; margin-top: 92px; border: 1px solid #111; padding: 12px 20px}
.mainCon04 .veiwMore img{position: absolute; top: 16px; right: 22px ;}
.mainCon04 .conTopTxt{font-size: 30px;margin-bottom: 20px}
.mainCon04 .conBtmTxt{font-size: 16px; line-height: 24px}
.mainCon04 .rightDiv{ width: 640px; height: 320px; float: left;}
.mainCon04 .rightDiv .rightDivImg{width: 100%; height: 100%; background-size: cover; background-repeat: no-repeat; background-position: center}
 
.mainCon05{margin-top: 150px}
.mainCon05 .conDiv{position: relative; width: calc((100% - 50px)/3); height: 520px; float: left; background-color: #eee; margin-right: 25px; background-size: cover; background-repeat: no-repeat; background-position: center; border-radius: 20px;}
.mainCon05>.conDiv:nth-child(3){position: relative; top: 50px; background-color: #F7F7FA;}
.mainCon05>.conDiv:last-child{margin-right: 0}
.mainCon05 .conDiv p{position: absolute; bottom: 0px; padding: 30px 40px; font-size: 30px; font-weight: bold; margin-bottom: 0;}
.mainCon05 .conDiv a{position: absolute; bottom: 0; right: 0; padding: 30px 40px;}

/** 상품리스트 시작 **/


.prodListTab{width: 100%; margin-top: 60px;}
.prodListTab p{width: 50%; height: 70px; float: left; border: 1px solid #BBBBBB; color: #999999; text-align: center; box-sizing: border-box; cursor: pointer; line-height: 72px;}
.prodListTab p.on{width: 50%; float: left; border: 1px solid #FF731B; color: #FF731B;}
.prodListTab .tab02{border-left: none;}
.tabDiv01{width: 100%; border: 1px solid #BBBBBB; border-top: none; padding: 40px 2px; overflow: hidden; box-sizing: border-box;}
.tabDiv01 ul{float: left; float: left; width: 100%;}
.tabDiv01 ul li{float: left; margin: 0 30px}
.tabDiv01 ul li a{font-size: 18px; font-family: 'Noto Sans', sans-serif; color: #999999;}
.tabDiv01 ul li.on a{color: #FF731B;}
.tabDiv01 ul li:hover a{color: #FF731B;}
.tabDiv02{display: none; width: 100%; border: 1px solid #BBBBBB; border-top: none; overflow: hidden; box-sizing: border-box;}
.tabDiv02 ul{}
.tabDiv02 ul li{float: left; width: calc(100%/7); margin: 30px 0}
.tabDiv02 ul li a{text-align: center; margin: 30px 0}
.tabDiv02 ul li a div{width: 70px; height: 70px; margin: 0 auto; background-size: cover; background-repeat: no-repeat; background-position: center; border-radius: 100%}
.tabDiv02 ul li a p{font-size: 18px; font-family: 'Noto Sans', sans-serif; color: #999999; text-align: center; margin-top: 8px;}
.tabDiv02 ul li.on a div{border: 1px solid #FF731B; box-sizing: border-box}
.tabDiv02 ul li.on a p{color: #FF731B;}
.tabDiv02 ul li:hover a div{border: 1px solid #FF731B; box-sizing: border-box}
.tabDiv02 ul li:hover a p{color: #FF731B;}

.prodSelect{width: 100%; float: right; margin-bottom: 22px;}
.prodSelect select{float: right; border: none;}

.prodList01 .conTitle a{top: inherit; float: left; font-size: 24px; font-weight: bold; color: #111111;}

.prodList02 .mainCon03{margin-top: 100px}
.prodList02 .mainCon03item{margin-bottom: 40px}
.prodList02 .mainCon03 .mainCon03slide .mainCon03img{/*border: 1px solid #BBBBBB;*/}

/** 상품리스트 끝 **/

/**  상품 상세페이지 시작 **/

.detail{margin-top: 67px;}
.datailImg{width: 510px; float: left}
.datailImg .datailImgMain{width: 100%; height: 452px; border: 1px solid #EEEEEE; background-size: cover; background-repeat: no-repeat; background-position: center; }
.datailImg .datailImgSub{width: 100%; margin-top: 28px;}
.datailImg .datailImgSub div{width: 100px; height: 100px; border: 1px solid #EEEEEE; float: left; margin-right: 10px; box-sizing: border-box; background-size: cover; background-repeat: no-repeat; background-position: center; cursor: pointer;}
.datailImg .datailImgSub>div:last-child{margin-right: 0}
.datailImg .datailImgSub div.on{border: 5px solid #FF731B; box-sizing: border-box;}
.detailCon{width: calc(100% - 640px); margin-top: 40px; margin-left: 130px; float: left;}
.detailCon .detailConTit{color: #3B3B3B; font-size: 20px; font-family: 'Noto Sans', sans-serif; font-weight: bold; margin-bottom: 10px}
.detailCon .detailShare{position: relative; top: -2px; margin-left: 25px;}
.detailCon .detailConTxt{color: #3B3B3B; font-size: 14px; font-family: 'Noto Sans', sans-serif; margin-bottom: 30px; line-height: 20px;}
.detailCon .detailConPrice{width: 100%; float: left}
.detailCon .detailConPrice li{float: left; font-size: 16px; font-family: 'Noto Sans', sans-serif; font-weight: bold; margin-bottom: 25px;}
.detailCon .detailConPrice li:nth-child(2n-1){float: left; width: 100px}
.detailCon .detailConPrice li:nth-child(2n){float: left; width: calc(100% - 100px)}
.detailCon .detailConStar{width: 100%; float: left}
.detailCon .detailConStar img{float: left}
.detailCon .detailConStar p{float: left; margin-left: 5px}
.detailCon .detailConBtn{width: 100%; float: left; margin-top: 70px;}
.detailCon .detailConBtn a:first-child{position: relative; display: block; width: 175px; height: 50px; border: 1px solid #9A9A9E; color: #999999; line-height: 52px; padding: 0 30px; margin-right: 22px; float: left }
.detailCon .detailConBtn a:first-child img{position: absolute; right: 20px; top: 7px;}
.detailCon .detailConBtn a:last-child{width: calc(100% - 261px); height: 50px; line-height: 52px; float: left; background-color: #FA364A; color: #fff; text-align: center}

.detailTab{width: 100%; margin-top: 50px;}
.detailTab p{width: calc(100%/3); height: 57px; border: 1px solid #AAAAAA; color: #AAAAAA; font-size: 15px; text-align: center; font-family: 'Noto Sans',sans-serif; line-height: 57px; float: left; box-sizing: border-box; cursor: pointer}
.detailTab p:nth-child(2){}
.detailTab p:nth-child(3){}
.detailTab p.on{border: 1px solid #707070; color: #111111}

.detailTabCon01{width: 100%; text-align: center;}
.detailTabCon02{display: none; text-align: center}
.detailTabCon02 p{float: left; width: 100%; font-size: 30px; margin-top: 100px;}
.detailTabCon03{display: none; text-align: center}
.detailTabCon03 p{float: left; width: 100%; font-size: 30px; margin-top: 100px;}

/**  상품 상세페이지 끝 **/

/**  매장안내 시작 **/

.store-area p{font-size: 20px; line-height: 35px; margin: 80px 0 0;}
.store-area p span{font-size: 30px; font-weight: bold; line-height: 55px;}
.store-area img{position: relative; left: -74px;}
.store-area ul{}
.store-area ul li{position: relative; font-size: 16px; color: #999; line-height: 30px; padding-left: 20px;}
.store-area ul li:before{content: '▶'; position: absolute;left: 0}

/**  매장안내 끝 **/


/**  브랜드스토리 시작 **/

.story-area{text-align: center}
.story-area img{}
.story-area p{font-size: 18px; line-height: 27px; margin:30px 0 100px;}
.story-area p:nth-child(3){margin:0px 0 150px;}
.story-area img:first-child{margin-bottom: 70px;}

/**  브랜드스토리 끝 **/


/** 페이징 시작 **/

.pageNumber{display: table; margin: 100px auto 0}
.pageNumber ul{float: left}
.pageNumber ul li{float: left; width: 36px; height: 36px; margin-right: 2px;}
.pageNumber ul li:last-child{margin-right: 0px}
.pageNumber ul li a{float: left; display: block; font-family: 'Noto Snas', sans-serif; font-size: 16px; color: #444444; text-align: center; line-height: 36px; width: 100%; height: 100%}
.pageNumber ul li.on a{color: #fff; background-color: #FF8C43; border-radius: 2px;}
.pageNumber ul li:hover a{color: #fff; background-color: #FF8C43; border-radius: 2px;}

/** 페이징 끝 **/

.footer{border-top: 1px solid #727272; margin-top: 240px;}
.footer .ft01 a{font-size: 17px; float: left; line-height: 70px;}
.footer .ft01 p{font-size: 14px; float: left; line-height: 70px; margin: 0 20px;}
.footer .ft02{background-color: #1E1E1E; padding: 40px 0;}
.footer .ft02 img{display: block; margin-bottom: 30px;}
.footer .ft02 p{font-size: 14px; color: #fff; line-height: 30px;}

