<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>최근 본 상품</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="assets/js/common.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
</head>
<body>
   <!--헤더 시작-->
   
       <div class="wrpDiv header_top">
           <a class="hd_logo">
               <img src="assets/img/main/logo.PNG">
           </a>
           <div class="hd_login">
               <a>로그인</a>
               <p>|</p>
               <a>회원가입</a>
               <p>|</p>
               <a>마이페이지</a>
               <p>|</p>
               <a>장바구니</a>
           </div>
       </div>
       
       <div class="wrp header_btm">
           <div class="wrpDiv hdBtmDiv">
               <a class="cgMenu"><img src="assets/img/main/category.png">카테고리</a>
               <div class="topMenu">
                   <ul>
                       <li><a>브랜드스토리</a></li>
                       <li><a>인기상품</a></li>
                       <li><a>공지사항</a></li>
                       <li><a>이벤트</a></li>
                       <li><a>매장안내</a></li>
                   </ul>
               </div>
           </div>
       </div>
   
   <!--헤더 끝-->  
   
    <div class="wrp">
       <div class="wrpDiv">
          <p class="sub_title">최근 본 상품</p>
           
           <div class="my_side_menu">
               <ul>
                   <li class="on"><a>최근 본 상품</a></li>
                   <li><a>내 활동</a></li>
                   <li><a>장바구니</a></li>
                   <li><a>주문내역</a></li>
               </ul>
           </div>
           
           <div class="check_list check_list_none">
             <img src="assets/img/my/none-img01.png">
             <p>최근 본 상품이 없습니다.</p>
           </div>
       </div>
    </div> 
   
   
   
   
   
   
   
   <!--footer 시작-->
   
   <div class="wrp footer">
       <div class="wrpDiv ft01">
           <a>회사소개</a>
           <p>|</p>
           <a>개인정보처리방침</a>
           <p>|</p>
           <a>이용약관</a>
           <p>|</p>
           <a>공지사항</a>
       </div>
       <div class="wrp ft02">
          <div class="wrpDiv">
               <p>
                   <img src="assets/img/main/footer.png">
                   카카오프렌즈 I 대표 : 소소프즈 I 인천광역시 부평구 부평동1234 <br>사업자등록번호 : 380-41-00272 I 고객센터 이메일 : sosofriends@naver.com <br>Copyright © SOSOFriends All rights reserved.
               </p>
           </div>
       </div>
   </div>
   
   <!--footer 끝-->
   
   
   
    
</body>
</html>